<!--main content start-->
<section id="main-content">
    <section class="wrapper">

        <div class="row mt">
            <div class="col-lg-9">
                <h3>NAME</h3>

                <div class="col-md-8 col-sm-8 mb">
                    <div class="white-panel pn-lg">
                        <div class="white-header">
                            <h5>Story</h5>
                        </div>

                        <div class="centered">
                            <p>STORY</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 mb">
                    <div class="white-panel pnl-lg">
                        <div class="white-header">
                            <h5>NAME</h5>
                        </div>

                        <div class="centered">
                            <img />
                        </div>
                    </div>
                </div>


            </div>

        </div><!-- /row -->

        <div class="row mt">
            <div class="col-lg-9">

                <div class="col-md-8 col-sm-8 mb">
                    <div class="white-panel pn">
                        <div class="white-header">
                            <h5>Ingredients</h5>
                        </div>

                        <div class="centered">
                            <ul>
                                <li>
                                    <p>TEXT</p>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 mb">
                    <div class="white-panel pn">
                        <div class="white-header">
                            <h5>Description</h5>
                        </div>

                        <div class="centered">
                            <p>DESCRIPTION</p>
                        </div>
                    </div>
                </div>


            </div>

        </div><!-- /row -->


    </section>
</section>