<!--sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <li>
                <h5>View Drinks</h5>
            </li>

            <li class="mt">
                <a class="active" href="#/occasions">
                    <i class="fa fa-dashboard"></i>
                    <span>By Occasion</span>
                </a>
            </li>

            <li class="mt">
                <a class="" href="#/tastes">
                    <i class="fa fa-dashboard"></i>
                    <span>By Taste</span>
                </a>
            </li>

        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->